a{
    color: inherit;
}

body {
    width: 100%;
    overflow-x: hidden;
}

#home-01-desktop {
    height: 98vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;

    .mdb-icone {
        max-width: 150px;
    }

    .detail-01 {

        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: top left;
        background-repeat: no-repeat;
        position: relative;


        .zancanaro-01 {
            max-width: 100%;
        }

        .mdb-float {
            position: absolute;
            top: 0;
            right: 0;

            .mdb-icone {
                max-width: 120px;
            }

        }

    }

    .edge-left {
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: -60px;
    }

    .edge-right {
        position: absolute;
        top: 100%;
        right: 0;
        margin-top: -60px;
    }

}

#faixa-primavera {

    background-color: rgba(0, 0, 0, .05);

    .row {
        min-height: 2vh;
    }

    .icone-primavera {
        position: relative;

        img {
            position: absolute;
            z-index: 100;
            top: -7.5vh;
            -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
            filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
        }

    }

}

#home-02-desktop {
    width: 100%;
    min-height: 100vh;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px 20px 20px, rgba(0, 0, 0, 0.12) 2px 14px 20px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 1px 20px 5px;
    & > .row {
        min-height: 100vh;
    }

    .edge-left {
        position: absolute;
        top: 0;
        left: 0;
    }

    .edge-right {
        position: absolute;
        top: 0;
        right: 0;
    }

    .left {
        background: rgb(253, 195, 33);
        background: linear-gradient(180deg, rgba(253, 195, 33, 1) 0%, rgba(250, 175, 0, 1) 100%);

        h1 {
            color: rgb(46, 81, 164);
            font-size: 3em;
        }

        .bg-01 {
            background-size: cover;
            background-position: center;
            border-radius: 12px;;
        }
    }

    .right {
        background: rgb(46, 81, 164);
        background: linear-gradient(180deg, rgba(46, 81, 164, 1) 0%, rgba(37, 66, 133, 1) 100%);

        h1 {
            color: #FFF;
            font-size: 3em;
        }

    }

    .candidato {
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -12.5%;
    }

}

#home-03-desktop {
    min-height: 100vh;
    background: rgb(37, 66, 133);
    background: linear-gradient(180deg, rgba(37, 66, 133, 1) 0%, rgba(13, 27, 61, 1) 100%);

    .titulo {
        background-color: #142449;
        color: #FFF;
        height: 80px;
        display: flex;
        align-items: center;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        h2 {
            font-size: 2.3em;
        }
    }

    .linha {
        border-radius: 16px;
        padding: 20px;

        img {
            width: 80%;
            height: auto;
            border-radius: 50%;
            border: 5px solid rgba(0, 0, 0, .1);
        }
    }

    .seguranca {
        background-color: #68ABE0;
    }

    .legalidade {
        background-color: #A2CD80;
    }

    .educacao {
        background-color: #FCB90D;
    }

    .comunidade {
        background-color: #DCDBDB;
    }
}

footer {
    background-color: #060e21;
}
